.preloader img {
  width: 250px;
  height: 250px;
  background-size: contain;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
img {
  border: 0;
}
